@use '../config';

.IButton {
  @extend %flex-center;
  gap: var(--u-xs);
  border-radius: var(--rounded-xs);
  padding: var(--p-sm);
  &--rounded {
    border-radius: 50% !important;
    outline: 1px solid var(--c-secondary-03);
    line-height: 0;
    aspect-ratio: 1/1;
    font-weight: bold;
  }
  &__icon {
    width: var(--u-xl);
  }
  &__symbol {
    width: .85em;
    line-height: .85em;
    text-align: center;
  }
}
.CloseButton {
  aspect-ratio: 1/1;
  padding: var(--p-sm);
  line-height: 0;
  font: {
    weight: bold;
    size: 1.8em;
  }
}