@use '../config';

.IButton {
  @extend %flex-center;
  gap: var(--u-xs);
  border-radius: var(--rounded-xs);
  padding: var(--p-sm);
  &__img {
    width: auto;
    height: 32px;
  }
  &--header {
    max-width: 7.5em;
    height: 92%;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
  }
  &--rounded {
    border-radius: 50% !important;
    outline: 1px solid var(--c-secondary-03);
    background-color: var(--c-secondary-01);
    font-weight: bold;
  }
  &__icon {
    width: var(--u-xl);
  }
  &__symbol {
    width: .85em;
    line-height: .85em;
  }
}
.ICloseButton {
  @extend %btn-close-base;
  position: absolute;
  top: .5rem;
  right: .5rem;
}