.Scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--c-secondary-01);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--c-primary-01-o);
    border-left: 4px solid var(--c-secondary-01);
  }
  &--projects::-webkit-scrollbar-thumb {
    border-bottom: 3em solid var(--c-secondary-01);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--c-primary-01);
  }
}