@use '../config';

.Viewport {
  flex-grow: 1;

  @extend %flex-center;
  overflow: hidden;
  background-color: var(--c-secondary-02);
  font-size: 1em;
  &--fullScreen {
    height: auto !important;
    position: fixed;
    inset: 0;
    z-index: 2;
    font-size: 1.1rem;
  }
}