@use '../config';
.ContactsPage {
  @extend %flex-center;
  flex-direction: column;
  gap: 1.5em;
  &__buttons {
    display: flex;
    justify-content: center;
    gap: var(--u-3xl);
  }
  &__pattern {
    position: absolute;
    top: 6em;
    right: 8%;
    transform: translateY(-50%);
    color: var(--violet-50);
  }
  &__blob {
    width: 70%;
    bottom: 0;
    left: 0;
    transform: scale(-1, -1);
  }
}