.Tag {
  width: 6.6em;
  padding: 0.3em 0;
  border-radius: var(--rounded-sm);
  line-height: 1em;
  text-align: center;
  color: var(--black-90);
  font: {
    size: .88em;
    weight: bold;
  }
  &--html {
    background-color: rgb(213, 80, 28);
  }
  &--css {
    background-color: rgb(29, 185, 239);
  }
  &--js {
    background-color: rgb(239, 216, 29);
  }
  &--react {
    background-color: rgb(97, 218, 251);
  }
  &--sass, &--scss {
    background-color: rgb(201, 97, 149);
  }
}