// Pages
@use './IndexPage';
@use './ProjectsPage';
@use './ContactsPage';
@use './AboutMePage';
// Components
@use './ProjectCard';
@use './Tag';
@use './buttons';
.GridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-auto-rows: min-content;
  gap: var(--u-l);
  &--projects {
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: var(--c-secondary-01);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--c-primary-01-o);
      border-left: 4px solid var(--c-secondary-01);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--c-primary-01);
    }
  }
}
.Blob {
  position: absolute;
  color: var(--violet-50);
}
.BasePage {
  padding: var(--u-3xl) var(--u-2xl);
  position: relative;
  height: 100%;
}

@media (max-width: 680px) {
  .GridContainer {
    &--projects {
      padding-bottom: 3em;
    }
  }
  .Container {
    height: 89%;
    &--projects {
      position: relative;
      &::after {
        width: calc(100% - 7px);
        height: 10%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background: linear-gradient(
          to bottom,
          transparent,
          var(--c-secondary-01)
        );
        pointer-events: none;
      }
    }
  }
}


@media (hover: hover) {
  .ProjectCard {
    &:hover &__img {
      transform: scale(1.1);
    }
    &__label {
      opacity: 0;
    }
    &:hover &__label {
      opacity: 1;
    }
  }
  .PrimaryButton {
    &:hover {
      background-color: var(--violet-40);
    }
  }
}
