/* ======================================================
   Base palette
   ====================================================== */
$white-a03: rgba(255, 255, 255, 0.03);
$white-a06: rgba(255, 255, 255, 0.06);

$white-700: #dcdcdc;
$white-800: #f0f0f0;
$white-900: #ffffff;

$gray-50: #f7f7f7;
$gray-100: #e4e4e4;
$gray-200: #d0d0d0;
$gray-300: #c8c8c8;
$gray-400: #a0a0a0;
$gray-500: #808080;
$gray-550: #5f5f5f;
$gray-600: #515151;
$gray-700: #3f3f3f;
$gray-800: #2a2a2a;
$gray-900: #181818;

$black-a45: rgba(0, 0, 0, 0.45);
$black-a70: rgba(0, 0, 0, 0.7);

$black-900: #000;
$black-950: #0b0b0b;

$violet-700: hsl(260, 94%, 56%);
$violet-800: hsl(260, 90%, 50%);


/* ======================================================
   Typography
   ====================================================== */
$font-stack: "Tahoma", "MS Sans Serif", sans-serif;