/* ======================================================
   Base palette
   ====================================================== */
$white-700: #dcdcdc;
$white-800: #f0f0f0;
$white-900: #ffffff;

$gray-100: #e4e4e4;
$gray-200: #d0d0d0;
$gray-300: #c8c8c8;
$gray-400: #a0a0a0;
$gray-500: #808080;
$gray-600: rgb(81, 81, 81);

$black-900: #000;

$violet-700: hsl(260, 94%, 56%);
$violet-800: hsl(260, 90%, 50%);


/* ======================================================
   Typography
   ====================================================== */
$font-stack: "Tahoma", "MS Sans Serif", sans-serif;