@use "../../../styles/index.scss";

%trackbar-thumb {
  width: 1em;
  height: 2.5em;

  border-radius: 0;
  background: var(--color-surface-base);
  cursor: pointer;

  @extend %border-3d;
  @extend %shadow-raised;
}

.trackbar {
  @extend %layout-row;
  gap: .5em;

  font-size: 13px;
  color: var(--color-text-primary);

  &__input {
    -webkit-appearance: none;
    appearance: none;

    height: 10px;
    background: var(--color-surface-base);
    cursor: pointer;

    @extend %border-3d;
    @extend %shadow-sunken;

    // Thumb in Chrome / Edge
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      
      @extend %trackbar-thumb;
    }

    // Thumb in Firefox
    &::-moz-range-thumb {
      @extend %trackbar-thumb;
    }

    // Track in Firefox
    &::-moz-range-track {
      background: var(--color-surface-base);
      @extend %border-3d;
      @extend %shadow-sunken;

      border-top-color: var(--color-border-dark);
      border-left-color: var(--color-border-dark);
      border-right-color: var(--color-border-light);
      border-bottom-color: var(--color-border-light);
    }

    &:active {
      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        border-top-color: var(--color-border-dark);
        border-left-color: var(--color-border-dark);
        border-right-color: var(--color-border-light);
        border-bottom-color: var(--color-border-light);

        background: var(--color-surface-active);
      
        @extend %shadow-sunken;
      }
    }

    &:focus {
      outline: none;

      &::-webkit-slider-thumb, &::-moz-range-thumb {
        outline: 1px dotted var(--color-text-primary);
        outline-offset: 0;
      }
    }
  }
}
