.menu-button {
  position: relative;

  %position-bottom {
    top: 100%;
    margin-top: 6px;
  }

  %position-top {
    bottom: 100%;
    margin-bottom: 6px;
  }
  
  &__menu {
    position: absolute;

    &--bottom {
      @extend %position-bottom;
      left: 50%;
      transform: translateX(-50%);
    }

    &--bottom-left {
      @extend %position-bottom;
      left: 0;
    }

    &--bottom-right {
      @extend %position-bottom;
      right: 0;
    }

    &--top {
      @extend %position-top;
      left: 50%;
      transform: translateX(-50%);
    }

    &--top-left {
      @extend %position-top;
      left: 0;
    }

    &--top-right {
      @extend %position-top;
      right: 0;
    }
  }
}