@use "/src/styles/helpers.scss" as h;

$btn-width-default: 6em;
$btn-height-default: 2.4em;

.button {
  font-family: h.$font-stack;
  font-size: 13px;
  padding: .4em;
  width: $btn-width-default;
  height: $btn-height-default;

  color: h.$color-text;
  background: h.$color-bg;

  @extend %border-3d;
  @extend %shadow-raised;

  cursor: pointer;
  user-select: none;
  
  &:hover {
    background: h.$color-bg-hover;
  }

  &:active {
    border-top-color: h.$color-border-dark;
    border-left-color: h.$color-border-dark;
    border-right-color: h.$color-border-light;
    border-bottom-color: h.$color-border-light;
  
    background: h.$color-bg-active;
  
    @extend %shadow-sunken;
  }
  
  &:focus {
    outline: 1px dotted h.$black-900;
    outline-offset: 0;
  }

  &:disabled {
    color: h.$color-disabled-text;
    background: h.$color-bg;
    cursor: default;
    opacity: 1;
  
    border-top-color: h.$color-border-light;
    border-left-color: h.$color-border-light;
    border-right-color: h.$color-border-dark;
    border-bottom-color: h.$color-border-dark;
  
    box-shadow: inset -1px -1px 0 h.$color-disabled-shadow-light,
                  inset 1px 1px 0 h.$color-disabled-shadow-dark;
  
    box-shadow: inset -1px -1px 0 h.$white-800,
                inset 1px 1px 0 h.$gray-200;

    &:active,
    &:hover {
      background: h.$color-bg;
      box-shadow: inset -1px -1px 0 h.$color-disabled-shadow-light,
                  inset 1px 1px 0 h.$color-disabled-shadow-dark;
    }
  }

  &--square {
    width: $btn-height-default;
  }
  
  &--rectangle-with-icon {
    @extend %flex-column-center;
    gap: .5em;
    height: 7.4em;
  }

  &--square-with-icon {
    @extend %flex-column-center;
    gap: .5em;
    height: $btn-width-default;
    width: $btn-width-default;
  }
}