@use "/src/styles/helpers.scss" as h;

$size-xs: 2.8em;
$size-sm: 5em;
$size-md: 6em;
$size-lg: 7.5em;
$size-xl: 9em;

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.button {
  font-family: h.$font-stack;
  font-size: 13px;

  padding: .4em;
  gap: .7em;

  color: h.$color-text;
  background: h.$color-bg;

  @extend %border-3d;
  @extend %shadow-raised;

  cursor: pointer;
  user-select: none;
  
  &:hover {
    background: h.$color-bg-hover;
  }

  &:active {
    border-top-color: h.$color-border-dark;
    border-left-color: h.$color-border-dark;
    border-right-color: h.$color-border-light;
    border-bottom-color: h.$color-border-light;
  
    background: h.$color-bg-active;
  
    @extend %shadow-sunken;
  }
  
  &:focus {
    outline: 1px dotted h.$black-900;
    outline-offset: 0;
  }

  &:disabled {
    color: h.$color-disabled-text;
    background: h.$color-bg;
    cursor: default;
    opacity: 1;
  
    border-top-color: h.$color-border-light;
    border-left-color: h.$color-border-light;
    border-right-color: h.$color-border-dark;
    border-bottom-color: h.$color-border-dark;
  
    box-shadow: inset -1px -1px 0 h.$color-disabled-shadow-light,
                  inset 1px 1px 0 h.$color-disabled-shadow-dark;
  
    box-shadow: inset -1px -1px 0 h.$white-800,
                inset 1px 1px 0 h.$gray-200;

    &:active,
    &:hover {
      background: h.$color-bg;
      box-shadow: inset -1px -1px 0 h.$color-disabled-shadow-light,
                  inset 1px 1px 0 h.$color-disabled-shadow-dark;
    }
  }

  &--column {
    @extend %flex-column-center;
    gap: .8em;

    &.button--sm {
      @include size($size-md, $size-md)
    }

    &.button--md {
      @include size($size-md, $size-lg)
    }

    &.button--lg {
      @include size($size-md, $size-xl)
    }
  }

  &--row {
    @extend %flex-row-center;

    &.button--sm {
      @include size($size-xs, $size-xs)
    }

    &.button--md {
      @include size($size-md, $size-xs)
    }

    &.button--lg {
      @include size($size-xl, $size-xs)
    }
  }
}