@use "../../../styles/index.scss" as i;

$size-xs: 2.8em;
$size-sm: 5em;
$size-md: 6em;
$size-lg: 7.5em;
$size-xl: 9em;

.button {
  font-size: 13px;

  padding: .4em;
  gap: .7em;

  color: var(--color-text-primary);
  background: var(--color-surface-base);

  @extend %border-3d;
  @extend %shadow-raised;

  cursor: pointer;
  user-select: none;
  
  &:hover {
    background: var(--color-surface-hover);
  }

  &:active {
    border-top-color: var(--color-border-dark);
    border-left-color: var(--color-border-dark);
    border-right-color: var(--color-border-light);
    border-bottom-color: var(--color-border-light);
  
    background: var(--color-surface-active);
  
    @extend %shadow-sunken;
  }
  
  &:focus {
    outline: 1px dotted var(--color-text-primary);
    outline-offset: 0;
  }

  &:disabled {
    color: var(--color-text-disabled);
    background: var(--color-surface-base);
    cursor: default;
    opacity: 1;
  
    border-top-color: var(--color-border-light);
    border-left-color: var(--color-border-light);
    border-right-color: var(--color-border-dark);
    border-bottom-color: var(--color-border-dark);
  
    box-shadow: inset -1px -1px 0 var(--color-shadow-disabled-light),
                inset 1px 1px 0 var(--color-shadow-disabled-dark);

    &:active,
    &:hover {
      background: var(--color-surface-base);
      box-shadow: inset -1px -1px 0 var(--color-shadow-disabled-light),
                  inset 1px 1px 0 var(--color-shadow-disabled-dark);
    }
  }

  &--column {
    @extend %layout-stack;
    gap: .8em;

    &.button--sm {
      @include i.box-size($size-md)
    }

    &.button--md {
      @include i.box-size($size-md, $size-lg)
    }

    &.button--lg {
      @include i.box-size($size-md, $size-xl)
    }
  }

  &--row {
    @extend %layout-row;

    &.button--sm {
      @include i.box-size($size-xs)
    }

    &.button--md {
      @include i.box-size($size-md, $size-xs)
    }

    &.button--lg {
      @include i.box-size($size-xl, $size-xs)
    }
  }
}