* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::selection {
  background-color: var(--violet-40);
  color: var(--white-90);
}

form,
input,
textarea,
select,
button,
label,
fieldset {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  // width: 100%;
  display: block;
  fill: currentColor;
}
body {
  height: 100vh;
  height: 100dvh;
  
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--c-primary-01);
  background-color: var(--c-secondary-01);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}