@charset "UTF-8";
:root {
  --fs-xs: 0.88em;
  --fs-sm: 1em;
  --fs-m: 1.3em;
  --fs-l: 2em;
  --rounded-xs: 0.15em;
  --rounded-sm: 0.4em;
  --rounded-m: 0.8em;
  --rounded-l: 1.2em;
  --p-xs: 0.13em;
  --p-sm: 0.3em;
  --p-m: 0.8em;
  --p-l: 1.2em;
  --u-xs: 0.15em;
  --u-sm: 0.35em;
  --u-m: 0.7em;
  --u-l: 1em;
  --u-xl: 1.25em;
  --u-2xl: 1.5em;
  --u-3xl: 2em;
  --u-4xl: 3.25em;
  --u-5xl: 4.5em;
  --u-6xl: 6em;
  --u-7xl: 8.25em;
  --u-8xl: 10.5em;
  --u-9xl: 15em;
  --white-90: hsl(210, 14%, 95%);
  --white-70: hsl(213, 9%, 79%);
  --white-50: hsl(215, 5%, 57%);
  --white-90-6o: hsl(210, 14%, 95%, .6);
  --black-90: hsl(0, 0%, 9%);
  --black-70: hsl(0, 0%, 21%);
  --black-50: hsl(0, 0%, 41%);
  --black-90-6o: hsla(0, 0%, 9%, 0.6);
  --violet-50: hsl(260, 94%, 58%);
  --violet-40: hsl(260, 94%, 48%);
  --yellow-70: hsl(60, 90%, 75%);
  --yellow-40: hsl(51, 90%, 45%);
  --c-primary-01: var(--black-90);
  --c-primary-02: var(--black-70);
  --c-primary-03: var(--black-50);
  --c-primary-01-o: var(--black-90-6o);
  --c-secondary-01: var(--white-90);
  --c-secondary-02: var(--white-70);
  --c-secondary-03: var(--white-50);
  --c-secondary-01-o: var(--white-90-6o);
  --font-primary: Verdana;
  --font-secondary: Helvetica, Arial, sans-serif;
}

.PrimaryButton, .ProjectCard__title, .ContactsPage, .IndexPage, .Viewport, .IButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer, .Header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  display: block;
  width: 100%;
  max-width: 100%;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 1em;
  font-size: var(--fs-l);
  line-height: 1em;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0.65em;
  font-size: var(--fs-m);
}

h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: var(--fs-sm);
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--violet-40);
  color: var(--white-90);
}

form,
input,
textarea,
select,
button,
label,
fieldset {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

button {
  user-select: none;
  cursor: pointer;
  transition: 200ms background-color, 200ms color;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--c-primary-01);
  background-color: var(--c-secondary-01);
  line-height: 1.4em;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  height: 16vh;
  border-bottom: 1px solid var(--c-secondary-03);
  position: relative;
  z-index: 1;
  background-color: var(--c-secondary-01);
  box-shadow: 0px -3px 10px 0px var(--c-primary-01-o);
  user-select: none;
}
.Header__nav {
  padding: 0 1em;
  border-bottom: 1px solid var(--c-secondary-03);
  background: var(--c-secondary-02);
}

.Footer {
  height: 4vh;
  border-top: 1px solid var(--c-secondary-03);
  padding: 0 1em;
  position: relative;
  z-index: 1;
  background-color: var(--c-secondary-01);
  user-select: none;
}
.Footer__rigth {
  display: flex;
  align-items: center;
  gap: var(--u-m);
}

.Trackbar {
  display: flex;
  align-items: center;
  position: relative;
}
.Trackbar__input {
  appearance: none;
  height: 1px;
  background: var(--c-secondary-03);
}
.Trackbar__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.625em;
  height: 1.125em;
  background: var(--c-secondary-03);
  cursor: pointer;
}
.Trackbar__input::-webkit-slider-thumb:active {
  background-color: var(--yellow-70);
  border: 1px solid var(--yellow-40);
}
.Trackbar__input::-moz-range-thumb {
  width: 0.625em;
  height: 1.125em;
  background: var(--c-secondary-03);
  cursor: pointer;
}
.Trackbar__input::-moz-range-thumb:active {
  background-color: var(--yellow-70);
  border: 1px solid var(--yellow-40);
}
.Trackbar::before {
  width: 1px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  content: "";
  transform: translate(-50%, -50%);
  background-color: var(--c-secondary-03);
}

.ZoomTrackbar {
  display: flex;
  align-items: center;
  gap: var(--u-sm);
}
.ZoomTrackbar__label {
  width: var(--u-4xl);
  text-align: center;
}

.Pagination {
  display: flex;
  align-items: center;
  gap: var(--u-m);
}

.DropMenu {
  position: relative;
}
.DropMenu__icon {
  width: var(--u-xl);
}
.DropMenu__arrow {
  font-size: 0.6em;
}
.DropMenu__menu {
  border: 1px solid var(--c-secondary-03);
  border-radius: var(--rounded-xs);
  position: absolute;
  background-color: var(--c-secondary-01);
  box-shadow: 0 0 10px 0px var(--c-primary-01-o);
}
.DropMenu__item {
  min-width: var(--u-6xl);
  padding: var(--p-sm) var(--p-l) var(--p-sm) var(--p-m);
  position: relative;
  text-align: left;
  transition: background-color 200ms;
}
.DropMenu__item.selected {
  pointer-events: none;
  cursor: default;
}
.DropMenu__item.selected::before {
  position: absolute;
  content: "✔";
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
}

.Flaps {
  display: flex;
}

.Flap {
  width: var(--u-6xl);
  padding: var(--p-xs) 0;
  border-radius: var(--rounded-sm) var(--rounded-sm) 0 0;
  text-align: center;
  transition: 200ms background-color;
  cursor: pointer;
}
.Flap.selected {
  background-color: var(--c-secondary-01) !important;
  position: relative;
}
.Flap.selected::before {
  width: calc(100% - 2px);
  height: calc(100% - 1px);
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--c-secondary-03);
  border-bottom: 1px solid var(--c-secondary-01);
  border-radius: inherit;
  background-color: transparent;
  content: "";
}

.IButton {
  gap: var(--u-xs);
  border-radius: var(--rounded-xs);
  padding: var(--p-xs);
}
.IButton--rounded {
  width: var(--u-xl);
  height: var(--u-xl);
  border-radius: 50% !important;
  outline: 1px solid var(--c-secondary-03);
  font-weight: bold;
}
.IButton__icon {
  width: var(--u-xl);
}

.Viewport {
  height: 80vh;
  background-color: var(--c-secondary-02);
}

.Page {
  width: 80%;
  max-width: 700px;
  aspect-ratio: 7/5;
  max-height: 100%;
  overflow: hidden;
  font-size: min(1.85vw, 1em);
  background-color: var(--c-secondary-01);
  box-shadow: 0px 0px 15px 0px var(--c-primary-01-o);
}

@media (max-width: 600px) {
  .dResponsive {
    display: none;
  }
  .Page {
    width: 95%;
    font-size: min(2.2vw, 1em);
  }
}
@media (hover: hover) {
  .IButton:hover {
    background-color: var(--yellow-70);
    outline: 1px solid var(--yellow-40);
  }
  .Flap:hover {
    background-color: var(--c-secondary-03);
  }
  .Trackbar__input::-webkit-slider-thumb:hover {
    background-color: var(--yellow-70);
    border: 1px solid var(--yellow-40);
  }
  .Trackbar__input::-moz-range-thumb:hover {
    background-color: var(--yellow-70);
    border: 1px solid var(--yellow-40);
  }
  .DropMenu__item:hover {
    background-color: var(--c-secondary-02);
  }
}
.IndexPage__content {
  display: flex;
  gap: var(--u-m);
  position: relative;
}
.IndexPage__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.IndexPage__profile {
  width: 18.75em;
  aspect-ratio: 1/1;
  border: 6px solid var(--c-secondary-01);
  border-radius: 50%;
}
.IndexPage__subtitle {
  margin-bottom: 0;
  color: var(--violet-50);
}
.IndexPage__blob--1 {
  width: 55%;
  bottom: 0;
  left: 0;
}
.IndexPage__blob--2 {
  width: 40%;
  top: 0;
  right: 0;
}

.ProjectsPage__blob {
  bottom: -3.2em;
  left: 0;
}

.ContactsPage {
  flex-direction: column;
}
.ContactsPage__buttons {
  display: flex;
  justify-content: center;
  gap: var(--u-3xl);
}

.ProjectCard {
  position: relative;
  border-radius: var(--rounded-sm);
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  color: var(--c-secondary-01);
}
.ProjectCard__img {
  aspect-ratio: 9/5;
  transition: transform 300ms;
}
.ProjectCard__title {
  width: 100%;
  padding: var(--u-sm);
  position: absolute;
  inset: 0;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  background-color: var(--c-primary-01-o);
}
.ProjectCard__label {
  position: absolute;
  bottom: 8%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  transform: translateX(-50%);
  line-height: 1em;
  transition: opacity 200ms;
}

.PrimaryButton {
  gap: var(--u-sm);
  width: var(--u-8xl);
  padding: var(--p-sm) 0;
  border-radius: var(--rounded-sm);
  background-color: var(--violet-50);
  color: var(--white-90);
}
.PrimaryButton__icon {
  width: var(--u-2xl);
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--u-l);
}

.Blob {
  position: absolute;
  color: var(--violet-50);
}

.BasePage {
  padding: var(--u-3xl) var(--u-2xl);
  position: relative;
  height: 100%;
}

@media (hover: hover) {
  .ProjectCard:hover .ProjectCard__img {
    transform: scale(1.1);
  }
  .ProjectCard:hover .ProjectCard__label {
    opacity: 1;
  }
  .PrimaryButton:hover {
    background-color: var(--violet-40);
  }
}

/*# sourceMappingURL=App.css.map */
