/* ======================================================
   Colors
   ====================================================== */
$white-700: #dcdcdc;
$white-800: #f0f0f0;
$white-900: #ffffff;
$gray-100: #e4e4e4;
$gray-200: #d0d0d0;
$gray-300: #c8c8c8;
$gray-400: #a0a0a0;
$gray-500: #808080;
$gray-600: rgb(81, 81, 81);
$black-900: #000;

/* ======================================================
   Controls styles
   ====================================================== */
$font-stack: "Tahoma", "MS Sans Serif", sans-serif;

$color-bg: $gray-100;
$color-text: $black-900;
$color-bg-hover: $white-700;
$color-bg-active: $gray-300;

$color-border-light: $white-900;
$color-border-medium: $gray-300;
$color-border-dark: $gray-400;
$color-shadow-light: $white-900;
$color-shadow-dark: $gray-300;

$color-disabled-text: $gray-500;
$color-disabled-shadow-light: $white-800;
$color-disabled-shadow-dark: $gray-200;

%border-3d {
  border: 2px solid;
  border-top-color: $color-border-light;
  border-left-color: $color-border-light;
  border-right-color: $color-border-dark;
  border-bottom-color: $color-border-dark;
}

%shadow-raised {
  box-shadow: inset -1px -1px 0 $color-shadow-light,
              inset 1px 1px 0 $color-border-medium;
}

%shadow-sunken {
  box-shadow: inset 1px 1px 0 $color-shadow-light,
              inset -1px -1px 0 $color-shadow-dark;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column-center {
  @extend %flex-center;
  flex-direction: column;
}

%flex-row-center {
  @extend %flex-center;
  flex-direction: row;
}