@use "./root";
@use "./base";
@use "./scrollbar";
@use "./helpers" as h;

//Placeholders classes
%base-page {
  padding: var(--u-3xl) var(--u-2xl);
  position: relative;
  height: 100%;
}

// .dUnresponsive {
//   display: none;
// }
// @media (max-width: 630px) {
//   .dResponsive {
//     display: none;
//   }
//   .dUnresponsive {
//     display: flex;
//   }
// }

#root {
  @extend %flex-column-center;
}

.viewport {
  width: 100%;
  flex-grow: 1;

  background-color: h.$gray-600;
}

.icon {
  object-fit: contain;

  &--md {
    width: 1.9em;
    height: 1.9em;
  }
}