@use './root';
@use './base';
@use './scrollbar';

// Mixins
@mixin emphasized-thumb-styles {
  background-color: var(--yellow-70);
  border: 1px solid var(--yellow-40);
}
@mixin highlight-styles {
  background-color: var(--yellow-70);
  outline: 1px solid var(--yellow-40);
  color: var(--black-90);
}

// SCSS Variables
$border: 1px solid var(--c-secondary-03);

//Placeholders classes
%base-page {
  padding: var(--u-3xl) var(--u-2xl);
  position: relative;
  height: 100%;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dUnresponsive {
  display: none;
}
@media (max-width: 630px) {
  .dResponsive {
    display: none;
  }
  .dUnresponsive {
    display: flex;
  }
}

@media (orientation: portrait) {
  .Page {
    max-width: 23.5em;
    max-height: 35em;
  }
  .Viewport {
    &--fullScreen .Page {
      max-width: 95%;
      max-height: 83%;
    } 
  }
  .IndexPage {
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__column {
      align-items: center;
      text-align: center;
    }
    &__blob--1 {
      width: 33% !important;
    }
  }
  .ContactsPage {
    text-align: center;
    &__buttons {
      flex-direction: column;
    }
  }
}
@media (hover: hover) {
  :root {
    --p-xs: 0.13em;
    --p-sm: 0.3em;
    --p-m: 0.8em;
    --p-l: 1.2em;
  }
  // Interface
  .IButton {
    &:hover {
      @include highlight-styles;
    }
  }
  .CloseButton {
    &:hover {
      color: var(--c-primary-01-o);
    }
  }
  .Flap {
    &:hover {
      background-color: var(--c-secondary-03);
    }
  }
  .Trackbar {
    &__input {
      &::-webkit-slider-thumb:hover {
        @include emphasized-thumb-styles();
      }
      &::-moz-range-thumb:hover {
        @include emphasized-thumb-styles();
      }
    }
  }
  .DropMenu {
    &__item:hover {
      background-color: var(--c-secondary-02);
    }
  }
  // Pages
  .PrimaryButton:hover {
    background-color: var(--violet-40);
  }
}