@use "../../../styles/index.scss";

.flap {
  padding: .25em .6em;
  position: relative;
  top: 2px;
  list-style: none;

  font-size: 13px;
  user-select: none;

  background: var(--color-surface-active);
  color: var(--color-text-primary);
  cursor: pointer;

  @extend %layout-center;
  @extend %border-3d;
  @extend %shadow-raised;
  border-bottom: none;

  &:hover {
    background: var(--color-surface-hover);
  }

  &:active:not(&--selected) {
    background: var(--color-surface-active);
    @extend %shadow-sunken;

    border-top-color: var(--color-border-dark);
    border-left-color: var(--color-border-dark);
    border-right-color: var(--color-border-light);
  }

  &--selected {
    background-color: var(--color-surface-base) !important;
    cursor: default;
    top: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 900;
      width: 100%;
      height: 4px;
      background-color: var(--color-surface-base);
      bottom: -2px;
      left: 0;
    }
  }
}
