.Page {
  width: 700px; // 43.75rem
  height: 500px; // 31.25rem
  overflow: hidden;
  background-color: var(--c-secondary-01);
  box-shadow: 0px 0px 15px 0px var(--black-90-6o);
  user-select: none;
}