@use '../../../styles/index.scss';

.PrimaryButton {
  @extend %flex-center-all;
  gap: 1em;
  width: 10.5em;
  padding: var(--p-sm) 0;
  border-radius: var(--rounded-sm);

  background-color: var(--violet-50);
  color: var(--white-90);
  cursor: pointer;

  &__icon {
    width: var(--u-2xl);
  }
  &__symbol {
    font-weight: bold;
    &--m {
      font-size: .9em;
      line-height: 1.5rem;
    }
  }
}