@use "../../../styles/helpers.scss" as h;

.viewport {
  .button {
    @extend %flex-center;
    gap: 1em;

    width: 12em;
    border: none !important;
    padding: .8em .5em;
    border-radius: 1em;
    
    background-color: h.$violet-800;
    box-shadow: none !important;
    color: h.$white-900;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: h.$violet-700;
    }

    &:active, &:focus {
      outline: none;
    }
  }
}