@use "../../../styles/index.scss";

.viewport {
  .button {
    @extend %layout-center;
    gap: 1em;

    width: 12em;
    border: none !important;
    padding: .8em .5em;
    border-radius: 1em;
    
    background-color: var(--color-primary-hover);
    box-shadow: none !important;
    color: var(--color-text-inverse);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: var(--color-primary);
    }

    &:active, &:focus {
      outline: none;
    }
  }
}