.item {
  padding: .3em 1.5em;
  font-size: 13px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: var(--color-surface-disabled);
  }

  &:active {
    background: var(--color-surface-active);
  }
  
  &--selected {
    cursor: default;
    background: var(--color-text-disabled) !important;
    color: var(--color-text-inverse);
  }
}