@use "/src/styles/helpers.scss" as h;

.menu {
  padding: .3em 0;
  margin: 0;
  list-style: none;

  background: h.$white-900;
  color: h.$black-900;

  @extend %border-3d;
  @extend %shadow-raised;

  width: max-content;
  min-width: 10em;
}
