@use "../../../styles/index.scss";

.menu {
  padding: .3em 0;
  margin: 0;
  list-style: none;

  background: var(--color-surface-raised);
  color: var(--color-text-primary);

  @extend %border-3d;
  @extend %shadow-raised;

  width: max-content;
  min-width: 10em;
}
