.Navigator {
  display: flex;
  align-items: center;
  gap: var(--u-m);
  &--fullScreen {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.15rem;
  }
}