@use "../../../styles/index.scss" as i;

.index-page {
  @extend %page;
  @extend %layout-center;

  &__content {
    display: flex;
    gap: 2em;

    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__profile {
    width: 17em;
    aspect-ratio: 1/1;
    border: .5em solid i.$white-900;
    border-radius: 50%;
  }

  &__title {
    color: i.$black-900;
    font-size: 1.2em;
    margin-bottom: .6em;
  }

  &__blob {

    &--1,
    &--2 {
      position: absolute;
    }

    &--1 {
      width: 55%;
      bottom: 0;
      left: 0;
    }

    &--2 {
      transform: scale(-1, -1);
      width: 36%;
      top: 0;
      right: 0;
    }
  }
}