@use "../../../styles/index.scss" as i;
@use "../../../styles/helpers.scss" as h;

.index-page {
  @extend %page;
  @extend %flex-center;

  &__content {
    display: flex;
    gap: 2em;

    position: relative;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__profile {
    width: 17em;
    aspect-ratio: 1/1;
    border: .5em solid h.$color-bg;
    border-radius: 50%;
  }

  &__subtitle {
    color: h.$violet-800;
    font-weight: bold;
  }

  &__title {
    font-size: 1.2em;
    margin-bottom: .6em;
  }

  &__blob {
    &--1, &--2 {
      position: absolute;
    }

    &--1 {
      width: 55%;
      bottom: 0;
      left: 0;
    }

    &--2 {
      transform: scale(-1, -1);
      width: 36%;
      top: 0;
      right: 0;
    }
  }
}