@use "../../../styles/index.scss";

.footer {
  @extend %layout-row-spread;

  width: 100%;
  padding: .4em 1em;
  position: relative;
  z-index: 1;

  @extend %border-3d;
  background-color: var(--color-surface-base);

  &__controls-group {
    @extend %layout-row-spread;
    gap: 1em;
  }
}