@use '../../../index.scss';

.ProjectCard {
  aspect-ratio: 9/5;
  position: relative;
  cursor: pointer;
  color: var(--c-secondary-01);
  &__imgContainer {
    height: 100%;
    overflow: hidden;
    border-radius: var(--rounded-sm);
  }
  &__img {
    aspect-ratio: 9/5;
    transition: transform 300ms;
  }
  &__title {
    @extend %flex-center-all;
    border-radius: var(--rounded-sm);
    width: 100%;
    padding: var(--u-sm);
    position: absolute;
    inset: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;
    background-color: var(--c-primary-01-o);
  }
  &__label {
    position: absolute;
    bottom: 8%;
    left: 50%;
    z-index: 1;
    opacity: 1;
    transform: translateX(-50%);
    line-height: 1em;
    transition: opacity 200ms;
  }
}