@use "/src/styles/helpers.scss" as h;

.header {
  width: 100%;
  background-color: h.$color-bg;
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    
    background: h.$gray-600;
  }
  &__panel {
    position: relative;

    @extend %border-3d;
  }
  &__actions {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 43.75rem;
    margin: 0 auto;
    padding: 1em;
  }
}
