@use "../../../styles/index.scss" as i;

.header {
  width: 100%;
  background-color: var(--color-surface-base);
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    
    background-color: i.$gray-550;
  }
  &__panel {
    position: relative;

    @extend %border-3d;
  }
  &__actions {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 43.75rem;
    margin: 0 auto;
    padding: .4em 1em;
  }
}
