$color-bg: #e4e4e4;

.header {
  background-color: $color-bg;


  
  // border-bottom: c.$border;
  position: relative;
  z-index: 1;
  // background-color: var(--c-secondary-01);
  box-shadow: 0px -3px 10px 0px var(--c-primary-01-o);
  user-select: none;

  // line-height: 1.4em;
  &__nav {
    padding: 0 1em;
    // border-bottom: c.$border;
    background: rgb(81, 81, 81);
  }
  &__panel {
    position: relative;

    border-top: 2px solid #ffffff;//
    border-left: 2px solid #ffffff;//
    border-right: 2px solid #a0a0a0;//
    border-bottom: 2px solid #a0a0a0;//
  }
  &__actions {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 43.75rem;
    margin: 0 auto;
    padding: 1em;
  }
}
