@use "../abstracts/variables";

/* ======================================================
   Light theme tokens
   ====================================================== */
:root {
  --color-primary: #{variables.$violet-700};
  --color-primary-hover: #{variables.$violet-800};
  --color-secondary: #{variables.$gray-600};
  --color-tertiary: #{variables.$gray-400};

  --color-surface-base: #{variables.$gray-100};
  --color-surface-raised: #{variables.$white-900};
  --color-surface-hover: #{variables.$white-700};
  --color-surface-active: #{variables.$gray-300};
  --color-surface-disabled: #{variables.$gray-200};

  --color-text-primary: #{variables.$black-900};
  --color-text-secondary: #{variables.$gray-600};
  --color-text-disabled: #{variables.$gray-500};
  --color-text-inverse: #{variables.$white-900};

  --color-border-light: #{variables.$white-900};
  --color-border-medium: #{variables.$gray-300};
  --color-border-dark: #{variables.$gray-400};

  --color-shadow-light: #{variables.$white-900};
  --color-shadow-dark: #{variables.$gray-300};
  --color-shadow-disabled-light: #{variables.$white-800};
  --color-shadow-disabled-dark: #{variables.$gray-200};
}


/* ======================================================
   Dark theme tokens
   ====================================================== */
:root[data-scheme="dark"] {
  --color-secondary: #{variables.$gray-300};
  --color-tertiary: #{variables.$gray-400};

  --color-surface-base: #{variables.$gray-900};
  --color-surface-raised: #{variables.$gray-800};
  --color-surface-hover: #{variables.$gray-700};
  --color-surface-active: #{variables.$gray-550};
  --color-surface-disabled: #{variables.$gray-800};

  --color-text-primary: #{variables.$gray-50};
  --color-text-secondary: #{variables.$gray-300};
  --color-text-disabled: #{variables.$gray-500};
  --color-text-inverse: #{variables.$black-900};

  --color-border-light: #{variables.$gray-700};
  --color-border-medium: #{variables.$gray-550};
  --color-border-dark: #{variables.$gray-600};

  --color-shadow-light: #{variables.$white-a06};
  --color-shadow-dark: #{variables.$black-a70};
  --color-shadow-disabled-light: #{variables.$white-a03};
  --color-shadow-disabled-dark: #{variables.$black-a45};
}