/* ======================================================
   Scrollbar styles
   ====================================================== */
.scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-color: var(--c-primary-01-o);
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px var(--c-secondary-01-o);
    background-color: var(--c-primary-01);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-70);
    -webkit-box-shadow: inset 0 0 3px red;
  }
}