@use '../../../index.scss';

.ProjectsPage {
  @extend %base-page;
  &__blob {
    bottom: 0;
    left: 0;
  }
  &__title {
    position: relative;
  }
  &__pattern {
    position: absolute;
    top: 50%;
    right: 1.8em;
    color: var(--violet-50);
    transform: translateY(-50%);
  }
  &__loadingLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}